<main>
    <section id="hero">
        <div class="hero-slider">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="hero-content">
                            <div class="hero-text">
                                <h1>
                                    WELCOME TO DAY
                                </h1>
                            </div>
                            <div class="hero-desc">
                                <p>We are team of talented designers making websites with Bootstrap</p>
                            </div>
                            <div class="btn">
                                <a href="#">GET STARTED</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


    <section id="pricing">
        <div class="pricing">
            <div class="container">
                <div class="row">
                    <div class="pricing-name text-center">
                        <h1>PRICING</h1>
                    </div>
                    <div class="pricing-title  text-center">
                        <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
                    </div>

                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="pricing-box">
                            <div class="box-type">
                                <h1 class="text-center">Free</h1>
                            </div>
                            <div class="cost">
                                <div class="money-montly d-flex justify-content-center ">
                                    <div class="money">
                                        <span>$0 </span>
                                    </div>
                                    <div class="monthly">
                                        <span>/month</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-content">
                                <p class="text-center">Aida dere</p>
                            </div>
                            <div class="box-content">
                                <p class="text-center">Aida dere</p>
                            </div>
                            <div class="box-content">
                                <p class="text-center">Aida dere</p>
                            </div>
                            <div class="box-content">
                                <p class="text-center"><del>Pharetra massa</del></p>
                            </div>
                            <div class="box-content">
                                <p class="text-center"><del>Pharetra massa</del></p>
                            </div>
                            <div class="buy-btn">
                                <a href="#">Buy Now</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="pricing-boxactive">
                            <div class="box-type">
                                <h1 class="text-center">Free</h1>
                            </div>
                            <div class="cost">
                                <div class="money-montly d-flex justify-content-center ">
                                    <div class="money">
                                        <span>$0</span>
                                    </div>
                                    <div class="montly">
                                        <span>/montly</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-content">
                                <p class="text-center">Aida dere</p>
                            </div>
                            <div class="box-content">
                                <p class="text-center">Aida dere</p>
                            </div>
                            <div class="box-content">
                                <p class="text-center">Aida dere</p>
                            </div>
                            <div class="box-content">
                                <p class="text-center"><del>Pharetra massa</del></p>
                            </div>
                            <div class="box-content">
                                <p class="text-center"><del>Pharetra massa</del></p>
                            </div>
                            <div class="buy-btn">
                                <a href="#">Buy Now</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="pricing-box">
                            <div class="box-type">
                                <h1 class="text-center">Free</h1>
                            </div>
                            <div class="cost">
                                <div class="money-montly d-flex justify-content-center ">
                                    <div class="money">
                                        <span>$0</span>
                                    </div>
                                    <div class="montly">
                                        <span>/montly</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box-content">
                                <p class="text-center">Aida dere</p>
                            </div>
                            <div class="box-content">
                                <p class="text-center">Aida dere</p>
                            </div>
                            <div class="box-content">
                                <p class="text-center">Aida dere</p>
                            </div>
                            <div class="box-content">
                                <p class="text-center"><del>Pharetra massa</del></p>
                            </div>
                            <div class="box-content">
                                <p class="text-center"><del>Pharetra massa</del></p>
                            </div>
                            <div class="buy-btn d-flex justify-content-center">
                                <a class="text-center" href="#">Buy Now</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="team">
        <div class="team-title">
            <div class="team-name">
                <h1 class="text-center">
                    TEAM
                </h1>
            </div>
            <div class="team-desc">
                <p class="text-center">Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="team-member-box">
                        <div class="member-image text-center">
                            <img width="250" src="~/assets/images/tm9.jpg">
                        </div>
                        <div class="member-name">
                            <p class="text-center">
                                Walter White
                            </p>
                        </div>
                        <div class="member-pos">
                            <p class="text-center fst-italic">
                                Chief Executive Officer
                            </p>
                        </div>
                        <div class="member-desc">
                            <p class="text-center fst-italic">
                                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p>
                        </div>
                        <div class="member-socials text-center">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="team-member-box">
                        <div class="member-image text-center">
                            <img width="250" src="~/assets/images/tm9.jpg">
                        </div>
                        <div class="member-name">
                            <p class="text-center">
                                Walter White
                            </p>
                        </div>
                        <div class="member-pos">
                            <p class="text-center fst-italic">
                                Chief Executive Officer
                            </p>
                        </div>
                        <div class="member-desc">
                            <p class="text-center fst-italic">
                                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p>
                        </div>
                        <div class="member-socials text-center">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="team-member-box">
                        <div class="member-image text-center">
                            <img width="250" src="~/assets/images/tm9.jpg">
                        </div>
                        <div class="member-name">
                            <p class="text-center">
                                Walter White
                            </p>
                        </div>
                        <div class="member-pos">
                            <p class="text-center fst-italic">
                                Chief Executive Officer
                            </p>
                        </div>
                        <div class="member-desc">
                            <p class="text-center fst-italic">
                                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p>
                        </div>
                        <div class="member-socials text-center">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-content">
                        <div class="contact-name">
                            <h1 class="text-center">
                                Contact
                            </h1>
                        </div>
                        <div class="contact-desc">
                            <p class="contact-name">Sit sint consectetur velit quisquam cupiditate impedit suscipit alia</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="address-box">
                        <div class="icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="address-name ">
                            <h1 class="text-center">OUR ADDRESS</h1>
                        </div>
                        <div class="address">
                            <span>A108 Adam Street, New York, NY 535022</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </section>
</main>


